

<script src="<%= base_url %>/views/assets/js/jquery-3.3.1.min.js"></script>
<script src="<%= base_url %>/views/assets/js/modernizr-3.6.0.min.js"></script>
<script src="<%= base_url %>/views/assets/js/plugins.js"></script>
<script src="<%= base_url %>/views/assets/js/bootstrap.min.js"></script>
<script src="<%= base_url %>/views/assets/js/wow.min.js"></script>
<script src="<%= base_url %>/views/assets/js/waypoints.js"></script>
<script src="<%= base_url %>/views/assets/js/nice-select.js"></script>
<script src="<%= base_url %>/views/assets/js/counterup.min.js"></script>
<script src="<%= base_url %>/views/assets/js/owl.min.js"></script>
<script src="<%= base_url %>/views/assets/js/magnific-popup.min.js"></script>
<script src="<%= base_url %>/views/assets/js/paroller.js"></script>
<script src="<%= base_url %>/views/assets/js/contact.js"></script>
<script src="<%= base_url %>/views/assets/js/main.js"></script>
</body>

<script>
function copyClipboard() {
    navigator.clipboard.writeText(document.getElementById("redirectUrl").value);
    document.getElementById("clipboardCopy").classList.remove("d-none")
    setTimeout(() => {
        document.getElementById("clipboardCopy").classList.add("d-none")
    }, 2500);
}
</script>
<!-- Mirrored from pixner.net/cortaly/main/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 21 Jun 2024 11:18:28 GMT -->

</html>