<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from pixner.net/cortaly/main/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 21 Jun 2024 11:17:53 GMT -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Cortaly - URL Shortner HTML Template</title>

    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/views/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/views/assets/css/all.min.css">
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/views/assets/css/animate.css">
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/views/assets/css/nice-select.css">
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/views/assets/css/owl.min.css">
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/views/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/views/assets/css/flaticon.css">
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/views/assets/css/main.css">

    <link rel="shortcut icon" href="<%= process.env.BASE_URL %>/views/assets/images/favicon.png" type="image/x-icon">
</head>

