<%- include('./header.ejs') %>

<body>

    <!--============= ScrollToTop Section Starts Here =============-->
    <div class="overlayer" id="overlayer">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>
    <a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>
    <!--============= ScrollToTop Section Ends Here =============-->

    <!--============= Sign In Section Starts Here =============-->
    <div class="account-section bg_img" data-background="<%= process.env.BASE_URL %>/views/assets/images/account-bg.jpg">
        <div class="container">
            <div class="account-title text-center">
                <a href="<%= process.env.BASE_URL %>" class="back-home"><i class="fas fa-angle-left"></i><span>Back <span class="d-none d-sm-inline-block">To Cortaly</span></span></a>
                <a href="<%= process.env.BASE_URL %>" class="logo">
                    <img src="<%= process.env.BASE_URL %>/views/assets/images/logo/logo.png" alt="logo">
                </a>
            </div>
            <div class="account-wrapper">
                <div class="account-body">
                    <h4 class="title mb-3">Let's get started</h4>
                    <form class="account-form" id="signupForm" method="post" action="<%= process.env.BASE_URL %>/api/users/signup">
                        <div class="alert alert-success d-none mb-3" id="alertInput" role="alert">
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="sign-up">First Name</label>
                                <input type="text" name="first_name" placeholder="Enter Your First Name " id="sign-up">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sign-up">Last Name</label>
                                <input type="text" name="last_name" placeholder="Enter Your Last Name " id="sign-up">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sign-up">Email</label>
                            <input type="email" name="email" placeholder="Enter Your Email " id="sign-up">
                        </div>
                        <div class="form-group">
                            <label for="sign-up">Password</label>
                            <input type="password" name="password" placeholder="Enter Your Password " id="sign-up">
                        </div>
                        <div class="form-group">
                            <label for="sign-up">Confirm Password</label>
                            <input type="password" name="confirm_password" placeholder="Enter Your Confirm Password " id="sign-up">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" onclick="registerClick(event)">Singup</button>
                            <span class="d-block mt-15">Already have an account? <a href="<%= process.env.BASE_URL %>/login">Sign In</a></span>
                        </div>
                    </form>
                </div>
                <div class="or">
                    <span>OR</span>
                </div>
                <div class="account-header mt-2">
                    <a href="#0" class="sign-in-with"><img src="<%= process.env.BASE_URL %>/views/assets/images/icon/google.png" alt="icon"><span>Sign Up with Google</span></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function registerClick(event){
            event.preventDefault();
            if(document.getElementsByName("password")[0].value.length>7 && (document.getElementsByName("password")[0].value == document.getElementsByName("confirm_password")[0].value)){
                document.getElementById("signupForm").submit()
            }else if(document.getElementsByName("password")[0].value.length<8){
                document.getElementById("alertInput").innerText="Password should be 8 length of character."
                document.getElementById("alertInput").classList.remove('d-none');
                setTimeout(() => {
                    document.getElementById("alertInput").classList.add('d-none')
                }, 2500);
            }
            else{
                document.getElementById("alertInput").innerText="Password and confirm password should be same."
                document.getElementById("alertInput").classList.remove('d-none')
                setTimeout(() => {
                    document.getElementById("alertInput").classList.add('d-none')
                }, 2500);
            }
        }
    </script>
    <!--============= Sign In Section Ends Here =============-->

    <%- include('./footer.ejs') %>